language: node_js
node_js:
- '10'
- '8'
- '6'
dist: xenial
cache:
  directories:
  - node_modules
branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+/
env:
- DEBUG="electron-installer-debian"
addons:
  apt:
    packages:
    - fakeroot
    - lintian
before_script: chmod -R g-w test/fixtures
deploy:
  provider: npm
  email: unindented@gmail.com
  api_key:
    secure: ojTvf6fk/2urG8oBeTAIFsGY0/D9kwHO5N9PvB3lMuauwPHRrZwpPUM4mODsWvKsAQFuaITv7/maun3Y9zBI1ELlqxHO37mg7b7nEy2KM/06qwhQAEdB6ILBwqruGqFj7NJkvRZ7ijMXRFh+lpNXnbvFm0+9C3xJCdO//VelpqB/ODv7vT83ACF/xLrDApu0cSGENvW/DN+juIpPDZdm9HLzj0qpf3Sxe17PEAcos+EzHWIx/0g8kCGnCjBZarITu3GSmqgi6IMxgKbwylYSBbKswfTgBp9dQj/H6FZdtNBoiApd8Wl2RrZQhZlKuWkvQuvsHZrk2Q8KZilC5Lm9ROPM8dzoRoCoA+a7h4+ASaG9wS1K65KlVoMZs4M4FukEro9h22mwWvPqRDSyw5RhlQviBz/Wyn3M10Tr27lYPQ6TsMBy5fVIRA5jSobRvGaojnzXhyoR0iEkHyugPwGoq7MOktInbs2Isdp89RoM+o2vP3rM+YWZE+oO+OAgWokE/fbxE5cxt79x3EFXPzERcK/83wT8uMXeH1uDQSoy9f0VpSwAjYii9ReR7aQQX1kRGog3T/bAN3LmfT56BqKVUmU7cmb+5wRIf1zXolb74yKrFJbWD1XWr60ve+67LzKTqZaYEPMgNQQwJiZepfv47acvn1CmrZ7adHBHAIDF5lU=
  on:
    tags: true
