name: CI

on:
  push:
    branches:
      - master
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        os: [macOS-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: ci/install-os-dependencies.sh
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install
        run: |
          npm install --engine-strict
          npm update
      - name: Fix permission for test fixtures
        if: runner.os == 'ubuntu-latest'
        run: chmod --recursive g-w test/fixtures
      - name: Test
        run: npm test
        env:
          DEBUG: 'electron-installer-debian'
